<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 10-23-2020
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   10-15-2020   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>
    <lightning-card title="Dual List Box" icon-name="custom:custom43">
        <template if:true={AccountSourceValues.data}>
            <lightning-dual-listbox name="Account Source"
                                    label="Select Account Source"
                                    source-label="Available"
                                    selected-label="Selected"
                                    field-level-help="This is a dual listbox"
                                    options={AccountSourceValues.data.values}
                                    onchange={handleChange}></lightning-dual-listbox>
        </template><br/>
    <div class="slds-box" >
        <p>Selected values are: <b style="color:black;">{selected}</b></p>
    </div>
</lightning-card>
</template>